<div class="w-auto flex lg:flex-row flex-col p-4 justify-center items-center gap-4">

    <!-- Center Page Info -->
    <div class="flex justify-center lg:flex-1">
        <p class="text-center">
            Showing page {{ currentPage }} of {{ totalPages }}
        </p>
    </div>  

    <!-- Sorting Options -->
    <div class="flex items-center gap-2 lg:ml-auto mr-3">
        <label class="text-lg font-medium text-base-content">Sort By:</label>
        
        <button 
            class="border p-2 rounded-md bg-base-200 text-base-content focus:ring focus:ring-primary transition-all duration-200 flex items-center gap-2"
            (click)="toggleSortMenu()"
        >
        Select Sort
        <span [class.rotate-180]="isSortMenuOpen" class="transition-transform duration-300 text-primary">▼</span>
        </button>
    </div>

</div>

<div class="flex justify-center not-lg:flex-col not-lg:items-center w-full">
    <!-- Sidebar container -->
    <div class="min-w-[250px] flex-shrink-0 not-lg:w-full not-lg:flex not-lg:justify-center">
        <app-product-sidebar></app-product-sidebar>
    </div>

    <!-- Products container -->
    <div class="flex-1 p-8 not-lg:w-full not-md:flex not-lg:justify-center">
        @if (isLoading) {
            <div class="grid gap-6 justify-center"
                 style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
                 @for (i of skeletonArray; track i) {
                    <app-product-card-skeleton />
                }                
            </div>
        } @else {
            @if (products.length > 0) {
                <div class="grid gap-6 justify-center"
                     style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));">
                    @for (product of products; track product._id) {
                        <app-product-card 
                            class="min-w-[250px]" 
                            [product]="product"
                            [link]="'/products/' + product._id">
                        </app-product-card>
                    }
                </div>
            } @else {
                <p class="text-center text-lg font-bold">No products found.</p>
            }
        }
    </div>
</div>
