<div class="flex flex-wrap gap-8 p-8 justify-center">
    <app-product-card link="/themes"/>
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
    <app-product-card />
</div>
