<div class="card bg-base-100 max-w-80 w-auto shadow-md hover:shadow-base-content hover:scale-105 transition-all duration-200">
    <figure>
      <img
        src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b7d9211c-26e7-431a-ac24-b0540fb3c00f/AIR+FORCE+1+%2707.png"
        alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-primary">
        Card Title
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline badge-accent hover:bg-accent hover:text-base-100 transition-all duration-150">Fashion</div>
        <div class="badge badge-outline badge-accent hover:bg-accent hover:text-base-100 transition-all duration-150">Products</div>
      </div>
    </div>
</div>