@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
    include: input, color, button, card, radio, badge, text, list, carousel, option, select, skeleton, tab, modal, checkbox, table, avatar, mask;
}

@theme {
    --font-electrolize: "Electrolize", sans-serif;
}
