<div class="card bg-base-100 w-64 h-96 shadow-md p-4 animate-pulse">
    <!-- Skeleton Image -->
    <div class="w-full h-52 skeleton"></div>

    <div class="card-body flex flex-col justify-between h-44">
        <!-- Skeleton Title -->
        <div class="skeleton h-6 w-3/4 rounded"></div>
        <!-- Skeleton Price -->
        <div class="skeleton h-6 w-1/2 rounded"></div>
        
        <!-- Skeleton Badges -->
        <div class="card-actions justify-end flex gap-2">
            <div class="skeleton h-6 w-20 rounded"></div>
            <div class="skeleton h-6 w-16 rounded"></div>
        </div>
    </div>
</div>